.container{
  padding:50px;
  background-image: url("/images/bg.jpg");
  height: 250px;
  width: 350px;;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
#btn{
  margin: 20px;
}
.one, .two, .three, .four {
  position:absolute;
  width:30px;
  height:120px;
  background-image: url("/images/bg.jpg");
  transition-property: height;
  transition-duration: 2s;
}
#onePercentage, #twoPercentage, #threePercentage, #fourPercentage{
  position:absolute;
  top:110px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color:white;
  font-size: 1rem;
  transition-property: top;
  transition-duration: 2s;
  margin-top:35px;
  text-align: center;
}
.playAnimation{
  height:150px;
  top:10px;
}
.bar{
  width:30px;
  height:100px;
  background-image: url("./images/bar.jpg")
}
.answerMark{
  color:#fff;
  font-size: 1rem;
  text-align: center;
}
.hide{
  display:none;
}
