.container-cover-all-screen{
  position:absolute;
  max-width: 100%;
  max-height: 100%;
  width:100%;
  height:100%;
  background-color: rgb(94, 97, 97);
  opacity:0.5;
  z-index: 0;
}
.container{
  position: absolute;
  top:50%;
  left:50%;
  padding-top:100px;
  background-image: url("/images/bg.jpg");
  height: 250px;
  width: 350px;;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border:solid 5px white;
  border-radius: 5px;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.container-center-content{
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color:white;
  font-size: 1rem;
}
/* няма отношение*/
#btn{
  margin: 20px;
}
.continueButton{
  background-image: url("/images/buttonContinue.png");
  height:40px;
  width:195px;
  position: absolute;
  bottom: -20px;
}
.one, .two, .three, .four {
  position:absolute;
  width:30px;
  height:120px;
  background-image: url("/images/bg.jpg");
  transition-property: height;
  transition-duration: 2s;
}
#onePercentage, #twoPercentage, #threePercentage, #fourPercentage{
  position:absolute;
  top:110px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color:white;
  font-size: 1rem;
  transition-property: top;
  transition-duration: 2s;
  margin-top:90px;
  text-align: center;
}
.playAnimation{
  height:250px;
  top:110px;
}
.bar{
  width:30px;
  height:100px;
  background-image: url("./images/bar.jpg")
}
.answerMark{
  color:#fff;
  font-size: 1rem;
  text-align: center;
  margin-top: 20px;
}
.hide{
  display:none;
}
.barsElements{
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.icon-audience{
  background-image: url('/images/icon-friend.png');
  position: absolute;
  top: 26%;
  left: 50%;
  width: 95px;
  height: 58px;
  z-index: 2;
  transform: translate(-50%, -50%);
}
.icon-friend{
  background-image: url('/images/icon-call.png');
  position: absolute;
  top: 0;
  left: 50%;
  width: 93px;
  height: 58px;
  z-index: 2;
  transform: translate(-50%, -50%);
}